*{
    background-color:darkgray;
    color:darkslategray;
}
h1{
    font-size:400%;
    font-style: oblique;
    font-weight: bolder;
    text-align: center;
    margin-top: 10%;
}
h3{
    text-align: center;
    font-size: 200%;
    font-style:normal;
    font-weight: lighter;
    color: azure;
    border: 2px solid red;
    margin-left: 600px;
    margin-right: 600px;
    margin-bottom: 40px;
    background-color:teal ;
    border-radius:20px;
}
.one{
    margin-right: 700px;
    margin-left: 650px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.two{
    margin-right: 700px;
    margin-left: 650px;
    margin-top: 30px;
    margin-bottom: 30px;
}
button{
    text-align: center;
    font-size: 100%;
    font-style:normal;
    font-weight: lighter;
    color: azure;
    font-size: 30px;
    border: 2px solid red;
    margin-left: 700px;
    margin-right: 700px;
    border-radius:20px;
}
#aa{
    padding: 20%;
    font-weight: 1000;
    color: darkred;
    font-size: 20px;
}
#bb{
    margin-top: 10%;
    border-radius: 10px;
    height: 30px;
    background-color: beige;
    padding-right: 20px;
}
#cc{
    padding: 20%;
    font-weight: 1000;
     color: darkred;
    font-size: 20px;
}
#dd{
    margin-top: 10%;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: beige;
    height: 30px;
    padding-right: 20px;
}
#ee{
    text-decoration: none;
    border: 2px solid darkolivegreen;
    padding-left: 5px;
    padding-right: 5px;
    margin-left:-10px;
    background-color: rgba(255, 228, 196, 0.701);
    margin-bottom: -20px;
}
#ff{
    background-color:dimgrey;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    margin-top: -10px;
}
#gg{
    background-color:mediumvioletred;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}
